body {
    font-family: "sweet-sans-pro", sans-serif;
    font-weight: bold;
    font-style: normal;
    background-color: #BADBBF;
}

h1 {
    font-size: clamp(24px, 36px, 48px);
}

p {
    font-size: clamp(14px, 18px, 18px);
}

.mainHeader {
    display: flex;
    flex-direction: row;
    gap: 4rem;
    justify-content: center;
    padding: 1rem;
    background-color:#34643D;
}

.mainHeader a {
    color: #BADBBF;
    text-decoration: none;
    font-size: 20px;
}

.mainHeader a:hover {
    color:#B79FEB;
}

.homecontent {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 3rem;
    margin: 2rem;
}

.homecontentText {
    display: flex;
    flex-direction: column;
    place-items: center;
}

.imagesize {
    width: 30%;
}

.images {
    display: flex;
    flex-direction: row;
    position: relative;
    height: auto;
    justify-content: center;
    margin-top: 1rem;
    margin-bottom: 6rem;
}

#topimg {
    width: 70%;
    z-index: 1;
    border: solid 1rem #664C75 
}

#leftimg {
    width: 30%;
    position: absolute;
    top: 70%;
    left: 10%;
    z-index: 2;
    border: solid 0.5rem #B79FEB;
}

#rightimg {
    width: 30%;
    position: absolute;
    top: 70%;
    right: 10%;
    z-index: 2;
    border: solid 0.5rem #B79FEB;
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 3rem;
    gap: 3rem;
    font-size: clamp(12px, 18px, 18px);
    color:#34643D;
}

.emails {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.emails a {
    color:#34643D;
    text-decoration: none;
}

.emails a:hover {
    color:#664C75;
}

.abMepage {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.abMesection {
    display: flex;
    flex-direction: row;
    place-items: center;
    padding: 1rem;
    width: 60%;
}

.abMesection img {
    width: 40%;
}

.description {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.portcont {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cardimgs {
    width: 200px;
}



@media  (max-width: 426px) {
    .foot {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    footer {
        gap: 0rem;
    }

    .emails {
        align-items: center;
    }

    .images {
        flex: column;
    }

    #leftimg {
        width: 50%;
        position: absolute;
        top: 95%;
        left: 0.5rem;
        z-index: 1;
        border: none;
    }

    #rightimg {
        width: 40%;
        position: absolute;
        top: 70%;
        right: 2rem;
        z-index: 1;
        border: none;
    }

    .abMesection {
        flex-direction: column;
        width: auto;
    }

    .abMesection img {
        width: 50%; 
    }
}

.cols{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.col{
  width: calc(30% - 2rem);
  margin: 1rem;
  cursor: pointer;
}

.container{
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
	-webkit-perspective: 1000px;
	        perspective: 1000px;
}

.front, .back{
  background-size: cover;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.25);
  border-radius: 10px;
	background-position: center;
	-webkit-transition: -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
	transition: -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
	-o-transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
	transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
	transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1), -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
	-webkit-backface-visibility: hidden;
	        backface-visibility: hidden;
	text-align: center;
	min-height: 280px;
	height: auto;
	border-radius: 10px;
	color: #fff;
	font-size: 1.5rem;
}

.back{
  background: #B79FEB;
  color: black;
}

.front:after{
	position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    content: '';
    display: block;
    opacity: .6;
    background-color: #000;
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
    border-radius: 10px;
}
.container:hover .front,
.container:hover .back{
    -webkit-transition: -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    transition: -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    -o-transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1), -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
}

.back{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.inner{
    -webkit-transform: translateY(-50%) translateZ(60px) scale(0.94);
            transform: translateY(-50%) translateZ(60px) scale(0.94);
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 50%;
    position: absolute;
    left: 0;
    width: 100%;
    padding: 2rem;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    outline: 1px solid transparent;
    -webkit-perspective: inherit;
            perspective: inherit;
    z-index: 2;
}

.container .back{
    -webkit-transform: rotateY(180deg);
            transform: rotateY(180deg);
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
}

.container .front{
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
}

.container:hover .back{
  -webkit-transform: rotateY(0deg);
          transform: rotateY(0deg);
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

.container:hover .front{
  -webkit-transform: rotateY(-180deg);
          transform: rotateY(-180deg);
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

.front .inner p{
  font-size: 2rem;
  margin-bottom: 2rem;
  position: relative;
}

.front .inner p:after{
  content: '';
  width: 4rem;
  height: 2px;
  position: absolute;
  background: #C6D4DF;
  display: block;
  left: 0;
  right: 0;
  margin: 0 auto;
  bottom: -.75rem;
}

.front .inner span{
  color: rgba(255,255,255,0.7);
  font-family: 'Montserrat';
  font-weight: 300;
}

@media screen and (max-width: 64rem){
  .col{
    width: calc(33.333333% - 2rem);
  }
}

@media screen and (max-width: 48rem){
  .col{
    width: calc(50% - 2rem);
  }
}

@media screen and (max-width: 32rem){
  .col{
    width: 100%;
    margin: 0 0 2rem 0;
  }
}